packaging
imageio
numpy
scipy
tqdm
#https://github.com/podgorskiy/dlutils/archive/refs/heads/master.zip
#https://github.com/podgorskiy/DareBlopy/archive/refs/heads/master.zip
torch >= 1.3
torchvision
scikit-learn
yacs
matplotlib
